===================================================

import libraries and the titanic_data.csv


===================================================

In [3]:
import pandas as pd
import numpy as np
titanic=pd.read_csv("Data/titanic_data.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

============================================


How many survived

================================================

In [4]:
total=titanic.PassengerId.count()
print(total)
countsurvived=titanic.PassengerId.loc[titanic.Survived==1].count()
print(countsurvived)

891
342

================================================

What was the survival rate in percentage terms? 

================================================

In [5]:
survivalpercent=(countsurvived/total)*100
print(survivalpercent)

38.38383838383838

Were there more male or female passengers? <br>By how many?

In [6]:
male=titanic.PassengerId.loc[titanic.Sex=='male'].count()
print("Male",male)
female=titanic.PassengerId.loc[titanic.Sex=='female'].count()
print("Female",female)
diff=male-female
print("difference between male and female: ",diff)

Male 577
Female 314
difference between male and female:  263

Were there more male or female survivors?

In [33]:
malesurcount= titanic.PassengerId.loc[(titanic.Survived == 1) & (titanic.Sex=='male')].count()
print("Male survival Count: ",malesurcount)
femalesurcount= titanic.PassengerId.loc[(titanic.Survived == 1) & (titanic.Sex=='female')].count()
print("feMale survival Count: ",femalesurcount)

Male survival Count:  109
feMale survival Count:  233

What %age of males and females survived?

In [38]:
Agesum = titanic.Age/titanic.Age.sum()
print(Agesum)
#malesurcount= titanic.PassengerId.loc[(titanic.Survived == 1) & (titanic.Sex=='male') ].count()
#print("Male survival Count: ",malesurcount)
#femalesurcount= titanic.PassengerId.loc[(titanic.Survived == 1) & (titanic.Sex=='female')].count()
#print("feMale survival Count: ",femalesurcount)

0      0.001037
1      0.001792
2      0.001226
3      0.001651
4      0.001651
         ...
886    0.001273
887    0.000896
888         NaN
889    0.001226
890    0.001509
Name: Age, Length: 891, dtype: float64

Were there any passengers assigned a cabin that were not first class?
If so how many for each class?

Were there any passengers not assigned a cabin that were first class? If so how many?

What percentage of males and females survived from each class?

Were you more or less likely to survive if you boarded at Cobh?

What was the average fare for each class?

Were you more or less likely to survive of you had Sibling or Spouses with you (SibSp) or were part of a parent and child group Parch

What was the suruvival rate of under 16s?<br>
What was the suruvival rate of under 16s according to their class?