## Python Basics + NumPy & Pandas

Setup

In [50]:
import pandas as pd
import numpy as np

import the FlightData csv from the Data folder

In [51]:
flights=pd.read_csv("Data/FlightData.csv")
flights.head()

   Distance (miles)  Cost (USD)
0               337       59.50
1              2565      509.50
2               967      124.50
3              5124     1480.40
4              2398      696.23

Check the data types for the flight data.<br> First check each series individually then check the panda data frame types

In [52]:
print(flights['Distance (miles)'].dtype)
print(flights['Cost (USD)'].dtype)
print(flights['Distance (miles)'].dtypes)
print(flights['Cost (USD)'].dtypes)

int64
float64
int64
float64

Order the data from shortest distance to longest distance

In [53]:
distanceStoL= flights.sort_values(by=['Distance (miles)'])
print(distanceStoL)

   Distance (miles)  Cost (USD)
0               337       59.50
7               522      474.50
2               967      124.50
8              1499      737.50
4              2398      696.23
1              2565      509.50
5              2586      559.50
3              5124     1480.40
6              7412     1481.50

Add a column that shows the price per mile of each trip

In [54]:
#df=pd.DataFrame(flights)
flights['pricePM']=flights['Distance (miles)']/flights['Cost (USD)']
flights.head()
#print(pricePerMile)
# df2=df.assign(pricepermile=[])
#type(flights)

   Distance (miles)  Cost (USD)   pricePM
0               337       59.50  5.663866
1              2565      509.50  5.034347
2               967      124.50  7.767068
3              5124     1480.40  3.461227
4              2398      696.23  3.444264

Use the <b>describe()</b> funtion to see the min max and average Cost per mile

In [55]:
s=flights['pricePM']
s.describe()

count    9.000000
mean     4.236493
std      1.993681
min      1.100105
25%      3.444264
50%      4.621984
75%      5.034347
max      7.767068
Name: pricePM, dtype: float64

Print the dataframe out to the notebook<br> Do you notice any general trend in the Cost per mile?

In [56]:
flights

   Distance (miles)  Cost (USD)   pricePM
0               337       59.50  5.663866
1              2565      509.50  5.034347
2               967      124.50  7.767068
3              5124     1480.40  3.461227
4              2398      696.23  3.444264
5              2586      559.50  4.621984
6              7412     1481.50  5.003037
7               522      474.50  1.100105
8              1499      737.50  2.032542

Save the "average cost per mile" to a variable

In [57]:
average=s.mean()
print("average=",average)

average= 4.236493460615013

Add another column to the dataframe that shows the difference in cost per mile from the average cost per mile

In [58]:
flights['difference']=flights['pricePM']-average
flights

   Distance (miles)  Cost (USD)   pricePM  difference
0               337       59.50  5.663866    1.427372
1              2565      509.50  5.034347    0.797854
2               967      124.50  7.767068    3.530575
3              5124     1480.40  3.461227   -0.775267
4              2398      696.23  3.444264   -0.792229
5              2586      559.50  4.621984    0.385490
6              7412     1481.50  5.003037    0.766544
7               522      474.50  1.100105   -3.136388
8              1499      737.50  2.032542   -2.203951

Add another column to the dataframe that shows the <i>absolute</i> difference in cost per mile from the average cost per mile

In [59]:
ppm=flights.pricePM
acpm=average
s=ppm-acpm
absolute=s.abs()

print(absolute)
flights['AbsoluteDiffInCPM']=absolute
flights

0    1.427372
1    0.797854
2    3.530575
3    0.775267
4    0.792229
5    0.385490
6    0.766544
7    3.136388
8    2.203951
Name: pricePM, dtype: float64

   Distance (miles)  Cost (USD)   pricePM  difference  AbsoluteDiffInCPM
0               337       59.50  5.663866    1.427372           1.427372
1              2565      509.50  5.034347    0.797854           0.797854
2               967      124.50  7.767068    3.530575           3.530575
3              5124     1480.40  3.461227   -0.775267           0.775267
4              2398      696.23  3.444264   -0.792229           0.792229
5              2586      559.50  4.621984    0.385490           0.385490
6              7412     1481.50  5.003037    0.766544           0.766544
7               522      474.50  1.100105   -3.136388           3.136388
8              1499      737.50  2.032542   -2.203951           2.203951

Using one line of code for each - do the following:<br><br>
Select the flight that has the lowest cost per mile<br>
Select the flight that has the highest cost per mile<br>
Select the flight that is the closest to the average cost per mile<br>

In [60]:
lowestcpm=flights['pricePM'].min()
print(lowestcpm)

1.100105374077977

In [61]:
highestcpm=flights['pricePM'].max()
print(highestcpm)

7.767068273092369

In [62]:
closestToAvg=flights['pricePM'].mean()
print(closestToAvg)

4.236493460615013

Select the top three flights in terms of Cost per Mile<br>
Select the bottom three flights in terms of Cost per Mile<br>
<br>
Compare the two sub-sets - are there any general trends evident?

In [63]:
top3flights=flights.sort_values(by=['pricePM'])
top3flights.iloc[:3]

   Distance (miles)  Cost (USD)   pricePM  difference  AbsoluteDiffInCPM
7               522      474.50  1.100105   -3.136388           3.136388
8              1499      737.50  2.032542   -2.203951           2.203951
4              2398      696.23  3.444264   -0.792229           0.792229

In [64]:
bottom3flights=flights.sort_values(by=['pricePM'])
bottom3flights.iloc[6:]

   Distance (miles)  Cost (USD)   pricePM  difference  AbsoluteDiffInCPM
1              2565       509.5  5.034347    0.797854           0.797854
0               337        59.5  5.663866    1.427372           1.427372
2               967       124.5  7.767068    3.530575           3.530575

Order the data from cheapest to most expensive<br>
Do you notice any trend in Cost Per Mile columns?

In [65]:
orderflights=flights.sort_values(by=['Cost (USD)'])
orderflights

   Distance (miles)  Cost (USD)   pricePM  difference  AbsoluteDiffInCPM
0               337       59.50  5.663866    1.427372           1.427372
2               967      124.50  7.767068    3.530575           3.530575
7               522      474.50  1.100105   -3.136388           3.136388
1              2565      509.50  5.034347    0.797854           0.797854
5              2586      559.50  4.621984    0.385490           0.385490
4              2398      696.23  3.444264   -0.792229           0.792229
8              1499      737.50  2.032542   -2.203951           2.203951
3              5124     1480.40  3.461227   -0.775267           0.775267
6              7412     1481.50  5.003037    0.766544           0.766544


Select the top three flights in terms of Cost
Select the bottom three flights in terms of Cost

Compare the two sub-sets - are there any general trends evident?

In [66]:
orderflights=flights.sort_values(by=['Cost (USD)'])
top3=orderflights.iloc[:3]
bottom3=orderflights.iloc[6:]
print(top3)
print(bottom3)

   Distance (miles)  Cost (USD)   pricePM  difference  AbsoluteDiffInCPM
0               337        59.5  5.663866    1.427372           1.427372
2               967       124.5  7.767068    3.530575           3.530575
7               522       474.5  1.100105   -3.136388           3.136388
   Distance (miles)  Cost (USD)   pricePM  difference  AbsoluteDiffInCPM
8              1499       737.5  2.032542   -2.203951           2.203951
3              5124      1480.4  3.461227   -0.775267           0.775267
6              7412      1481.5  5.003037    0.766544           0.766544