## Python Basics + NumPy & Pandas

Setup

In [2]:
import numpy as np
import pandas as pd

import the FlightData csv from the Data folder

In [3]:
flights = pd.read_csv("Data\FlightData.csv") 
flights

   Distance (miles)  Cost (USD)
0               337       59.50
1              2565      509.50
2               967      124.50
3              5124     1480.40
4              2398      696.23
5              2586      559.50
6              7412     1481.50
7               522      474.50
8              1499      737.50

Check the data types for the flight data.<br> First check each series individually then check the panda data frame types

In [21]:
flights["Distance (miles)"].dtype

dtype('int64')

In [24]:
flights["Cost (USD)"].dtype

dtype('float64')

In [26]:
flights.dtypes

Distance (miles)      int64
Cost (USD)          float64
dtype: object

Order the data from shortest distance to longest distance

In [28]:
flights.sort_values(by="Distance (miles)", inplace = True)
flights

   Distance (miles)  Cost (USD)
0               337       59.50
7               522      474.50
2               967      124.50
8              1499      737.50
4              2398      696.23
1              2565      509.50
5              2586      559.50
3              5124     1480.40
6              7412     1481.50

Add a column that shows the price per mile of each trip

In [31]:
flights["Cost per Mile"]=flights["Distance (miles)"]/flights["Cost (USD)"]
flights

   Distance (miles)  Cost (USD)  Cost per Mile
0               337       59.50       5.663866
7               522      474.50       1.100105
2               967      124.50       7.767068
8              1499      737.50       2.032542
4              2398      696.23       3.444264
1              2565      509.50       5.034347
5              2586      559.50       4.621984
3              5124     1480.40       3.461227
6              7412     1481.50       5.003037

Use the <b>describe()</b> funtion to see the min max and average Cost per mile

In [35]:
flights["Cost per Mile"].describe()

count    9.000000
mean     4.236493
std      1.993681
min      1.100105
25%      3.444264
50%      4.621984
75%      5.034347
max      7.767068
Name: Cost per Mile, dtype: float64

Print the dataframe out to the notebook<br> Do you notice any general trend in the Cost per mile?

In [47]:

flights

,Distance (miles),Cost (USD),Cost per Mile,Diff from avg CPM,Abs Diff from avg CPM
0,337,59.50,5.663866,1.427372,1.427372
7,522,474.50,1.100105,-3.136388,3.136388
2,967,124.50,7.767068,3.530575,3.530575
8,1499,737.50,2.032542,-2.203951,2.203951
4,2398,696.23,3.444264,-0.792229,0.792229
1,2565,509.50,5.034347,0.797854,0.797854
5,2586,559.50,4.621984,0.385490,0.385490
3,5124,1480.40,3.461227,-0.775267,0.775267
6,7412,1481.50,5.003037,0.766544,0.766544

Save the "average cost per mile" to a variable

In [38]:
avg_cost_per_mile=flights["Cost per Mile"].mean()
avg_cost_per_mile

4.236493460615012

Add another column to the dataframe that shows the difference in cost per mile from the average cost per mile

In [45]:
flights["Diff from avg CPM"]=flights["Cost per Mile"]-avg_cost_per_mile
flights

   Distance (miles)  Cost (USD)  Cost per Mile  Diff from avg CPM
0               337       59.50       5.663866           1.427372
7               522      474.50       1.100105          -3.136388
2               967      124.50       7.767068           3.530575
8              1499      737.50       2.032542          -2.203951
4              2398      696.23       3.444264          -0.792229
1              2565      509.50       5.034347           0.797854
5              2586      559.50       4.621984           0.385490
3              5124     1480.40       3.461227          -0.775267
6              7412     1481.50       5.003037           0.766544

Add another column to the dataframe that shows the <i>absolute</i> difference in cost per mile from the average cost per mile

In [46]:
flights["Abs Diff from avg CPM"]=abs(flights["Diff from avg CPM"])
flights

,Distance (miles),Cost (USD),Cost per Mile,Diff from avg CPM,Abs Diff from avg CPM
0,337,59.50,5.663866,1.427372,1.427372
7,522,474.50,1.100105,-3.136388,3.136388
2,967,124.50,7.767068,3.530575,3.530575
8,1499,737.50,2.032542,-2.203951,2.203951
4,2398,696.23,3.444264,-0.792229,0.792229
1,2565,509.50,5.034347,0.797854,0.797854
5,2586,559.50,4.621984,0.385490,0.385490
3,5124,1480.40,3.461227,-0.775267,0.775267
6,7412,1481.50,5.003037,0.766544,0.766544

Using one line of code for each - do the following:<br><br>
Select the flight that has the lowest cost per mile<br>
Select the flight that has the highest cost per mile<br>
Select the flight that is the closest to the average cost per mile<br>

In [57]:
print(flights[flights["Cost per Mile"] == flights["Cost per Mile"].min()])

   Distance (miles)  Cost (USD)  Cost per Mile  Diff from avg CPM  \
7               522       474.5       1.100105          -3.136388

   Abs Diff from avg CPM
7               3.136388

In [56]:
print(flights[flights["Cost per Mile"] == flights["Cost per Mile"].max()])

   Distance (miles)  Cost (USD)  Cost per Mile  Diff from avg CPM  \
2               967       124.5       7.767068           3.530575

   Abs Diff from avg CPM
2               3.530575

In [58]:
print(flights[flights["Abs Diff from avg CPM"] == flights["Abs Diff from avg CPM"].min()])

   Distance (miles)  Cost (USD)  Cost per Mile  Diff from avg CPM  \
5              2586       559.5       4.621984            0.38549

   Abs Diff from avg CPM
5                0.38549

Select the top three flights in terms of Cost per Mile<br>
Select the bottom three flights in terms of Cost per Mile<br>
<br>
Compare the two sub-sets - are there any general trends evident?

In [52]:
flights.sort_values(by="Cost per Mile", inplace=True)

flights

,Distance (miles),Cost (USD),Cost per Mile,Diff from avg CPM,Abs Diff from avg CPM
7,522,474.50,1.100105,-3.136388,3.136388
8,1499,737.50,2.032542,-2.203951,2.203951
4,2398,696.23,3.444264,-0.792229,0.792229
3,5124,1480.40,3.461227,-0.775267,0.775267
5,2586,559.50,4.621984,0.385490,0.385490
6,7412,1481.50,5.003037,0.766544,0.766544
1,2565,509.50,5.034347,0.797854,0.797854
0,337,59.50,5.663866,1.427372,1.427372
2,967,124.50,7.767068,3.530575,3.530575

In [53]:
bottom3_cpm = flights[:3]

bottom3_cpm

,Distance (miles),Cost (USD),Cost per Mile,Diff from avg CPM,Abs Diff from avg CPM
7,522,474.50,1.100105,-3.136388,3.136388
8,1499,737.50,2.032542,-2.203951,2.203951
4,2398,696.23,3.444264,-0.792229,0.792229

In [54]:
top3_cpm = flights[-3:]

top3_cpm

,Distance (miles),Cost (USD),Cost per Mile,Diff from avg CPM,Abs Diff from avg CPM
1,2565,509.5,5.034347,0.797854,0.797854
0,337,59.5,5.663866,1.427372,1.427372
2,967,124.5,7.767068,3.530575,3.530575

Order the data from cheapest to most expensive<br>
Do you notice any trend in Cost Per Mile columns?

In [59]:
flights.sort_values(by="Cost (USD)", inplace = True)
flights

,Distance (miles),Cost (USD),Cost per Mile,Diff from avg CPM,Abs Diff from avg CPM
0,337,59.50,5.663866,1.427372,1.427372
2,967,124.50,7.767068,3.530575,3.530575
7,522,474.50,1.100105,-3.136388,3.136388
1,2565,509.50,5.034347,0.797854,0.797854
5,2586,559.50,4.621984,0.385490,0.385490
4,2398,696.23,3.444264,-0.792229,0.792229
8,1499,737.50,2.032542,-2.203951,2.203951
3,5124,1480.40,3.461227,-0.775267,0.775267
6,7412,1481.50,5.003037,0.766544,0.766544


Select the top three flights in terms of Cost
Select the bottom three flights in terms of Cost

Compare the two sub-sets - are there any general trends evident?

In [61]:
bottom3_cost = flights[:3]
bottom3_cost

,Distance (miles),Cost (USD),Cost per Mile,Diff from avg CPM,Abs Diff from avg CPM
0,337,59.5,5.663866,1.427372,1.427372
2,967,124.5,7.767068,3.530575,3.530575
7,522,474.5,1.100105,-3.136388,3.136388

In [62]:
top3_cost = flights[-3:]
top3_cost

,Distance (miles),Cost (USD),Cost per Mile,Diff from avg CPM,Abs Diff from avg CPM
8,1499,737.5,2.032542,-2.203951,2.203951
3,5124,1480.4,3.461227,-0.775267,0.775267
6,7412,1481.5,5.003037,0.766544,0.766544

=========================== Answer ======================================

The longer trips are closer to the average CPM.<br> This is probably due to price variation having less impact over longer journeys<br>i.e 100 euro price change on a 300 mile flight has more impact on CPM than 100

=========================== Answer ======================================