===================================================

import libraries and the titanic_data.csv


===================================================

In [2]:
import numpy as np
import pandas as pd


titanic = pd.read_csv("Data/titanic_data.csv")
titanic

titanic.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
titanic.dtypes
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

============================================


How many survived

================================================

In [4]:
##Option 1 
titanic["Survived"].value_counts()

## Option 2
# titanic.Survived.sum()

0    549
1    342
Name: Survived, dtype: int64

================================================

What was the survival rate in percentage terms? 

================================================

In [5]:
##Option 1 
survival_percentage =titanic["Survived"].sum()/ titanic.shape[0]
print("Survival %age = ",survival_percentage)

## Option 2only beacuse we are dealing with 0 and 1 as the variable in the Survuved Column
titanic.Survived.mean()

Survival %age =  0.3838383838383838

0.3838383838383838

Were there more male or female passengers? <br>By how many?

In [6]:
# #Option 1
males_df = titanic.loc[titanic.Sex == "male"]
females_df = titanic.loc[titanic.Sex == "female"]

no_of_males = males_df.shape[0]
no_of_females = females_df.shape[0]

print ("there are {} males and {} females - there are {} more males than females".format(no_of_males,no_of_females,no_of_males-no_of_females))

# Option 2
titanic.Sex.value_counts()

there are 577 males and 314 females - there are 263 more males than females

male      577
female    314
Name: Sex, dtype: int64

Were there more male or female survivors?

In [7]:
male_survivors_df = males_df.loc[males_df["Survived"]==1]
no_of_male_survivors = male_survivors_df.shape[0]

female_survivors_df = females_df.loc[females_df["Survived"]==1]
no_of_female_survivors= female_survivors_df.shape[0]

print ("there are {} male survivors and {} females survivors - there are {} more male than female survivor".format(no_of_male_survivors,no_of_female_survivors,no_of_male_survivors-no_of_female_survivors))

there are 109 male survivors and 233 females survivors - there are -124 more male than female survivor

What %age of males and females survived?

In [8]:
print("Male survival %age 1 = ", no_of_male_survivors/no_of_males)
print("Male survival %age 2 = ", males_df.Survived.mean())

print("Female survival %age 1 = ", no_of_female_survivors/no_of_females)
print("Female survival %age 2 = ", females_df.Survived.mean())

Male survival %age 1 =  0.18890814558058924
Male survival %age 2 =  0.18890814558058924
Female survival %age 1 =  0.7420382165605095
Female survival %age 2 =  0.7420382165605095

Were there any passengers assigned a cabin that were not first class?
If so how many for each class?

In [9]:
# Option 1

grouped_cabins = titanic.groupby("Pclass").Cabin.count()
print("Cabined but not 1st class = ",grouped_cabins[2]+grouped_cabins[3])


#Option 2
cabined = titanic.Cabin.notna()
cabined_passengers = titanic.loc[cabined]
cabined_passengers.loc[cabined_passengers.Pclass!=1].shape[0]

Cabined but not 1st class =  28

28

Were there any passengers not assigned a cabin that were first class? If so how many?

In [10]:
#Option 1
cabined = titanic.Cabin.isna()
cabined_passengers = titanic.loc[cabined]
cabined_passengers.loc[cabined_passengers.Pclass==1].shape[0]

40

What percentage of males and females survived from each class?

In [11]:
males_df.groupby("Pclass").Survived.mean()

females_df.groupby("Pclass").Survived.mean()

Pclass
1    0.968085
2    0.921053
3    0.500000
Name: Survived, dtype: float64

Were you more or less likely to survive if you boarded at Cobh?

In [12]:
titanic.groupby("Embarked").Survived.mean()

Embarked
C    0.553571
Q    0.389610
S    0.336957
Name: Survived, dtype: float64

What was the average fare for each class?

In [13]:
titanic.groupby("Pclass").Fare.mean()

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

Were you more or less likely to survive of you had Sibling or Spouses with you (SibSp) or were part of a parent and child group Parch

In [14]:
surv1 = titanic.Survived.mean()
surv2 = titanic.loc[titanic.SibSp>0].Survived.mean()

print("Survival for boat : {}   Survival for SibSp : {}".format(surv1,surv2))


surv1 = titanic.Survived.mean()
surv2 = titanic.loc[titanic.Parch>0].Survived.mean()

print("Survival for boat : {}   Survival for Parch : {}".format(surv1,surv2))

Survival for boat : 0.3838383838383838   Survival for SibSp : 0.4664310954063604
Survival for boat : 0.3838383838383838   Survival for Parch : 0.5117370892018779

What was the suruvival rate of under 16s?<br>
What was the suruvival rate of under 16s according to their class?

In [15]:
print(titanic.loc[titanic.Age<16].Survived.mean())

0.5903614457831325

In [ ]:
titanic.loc[titanic.Age<16].groupby().Survived.mean()