Here we will look at some Data fropm AirB&B for Dublin.<br>
We will look at location and clealiness ratings for some properties<br>
Then we will see how much the dirtiest listings cost!

### Setup
import libraries and airB&B_Listings data set from Data folder

In [1]:
import numpy as np
import pandas as pd

airBnBListings = pd.read_csv("Data/airBnB_Listings.csv")
airBnBListings

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,14842,https://www.airbnb.com/rooms/14842,20180819190710,2018-08-19,"Best location Portobello entire house, can sle...","Beautiful entire house, newly revamped, with s...","Gorgeous, newly revamped central Dublin city e...","Beautiful entire house, newly revamped, with s...",none,Portobello is an exceptional place to live - v...,...,f,NaN,NaN,f,f,strict_14_with_grace_period,f,f,1,0.42
1,43908,https://www.airbnb.com/rooms/43908,20180819190710,2018-08-19,Double bed private bathroom breakfast included,"Small, garden facing double bedroom with own W...","Location, location, location, based in central...","Small, garden facing double bedroom with own W...",none,The location can't be beaten. It makes everyth...,...,f,NaN,NaN,f,f,flexible,t,t,1,0.94
2,44077,https://www.airbnb.com/rooms/44077,20180819190710,2018-08-19,cosy comfortable Irish cottage twin,Our house was built in 1937 when there was ple...,"Hi, My name is Teresa and we have 3 rooms ava...",Our house was built in 1937 when there was ple...,none,I like our neighbourhood as there is no shorta...,...,f,NaN,NaN,t,f,moderate,t,t,3,1.80
3,46517,https://www.airbnb.com/rooms/46517,20180819190710,2018-08-19,"Sth Dublin, Ballycullen nr Firhouse/Rathfarnham",NaN,Large bed to let in an apartment in a quiet gr...,Large bed to let in an apartment in a quiet gr...,none,NaN,...,f,NaN,NaN,f,f,moderate,f,f,1,0.05
4,68483,https://www.airbnb.com/rooms/68483,20180819190710,2018-08-19,Unique Central Dublin River-view,"My apartment provides an immaculate, comfortab...",My apartment overlooks the River Liffey with i...,"My apartment provides an immaculate, comfortab...",none,"Numerous great cafés, bars, 24 hour shops, gal...",...,f,NaN,NaN,f,f,strict_14_with_grace_period,t,t,1,1.09
5,71813,https://www.airbnb.com/rooms/71813,20180819190710,2018-08-19,Your flat in the Heart of Dublin(1),In the heart of the main pedestrian area of Du...,WELCOME in my place ;-) Please Read CAREFULLY ...,In the heart of the main pedestrian area of Du...,social,NaN,...,f,NaN,NaN,f,f,strict_14_with_grace_period,f,f,2,0.99
6,78443,https://www.airbnb.com/rooms/78443,20180819190710,2018-08-19,Dublin,NaN,This is a private property with a spare room t...,This is a private property with a spare room t...,none,NaN,...,f,NaN,NaN,f,f,flexible,f,f,1,0.01
7,85148,https://www.airbnb.com/rooms/85148,20180819190710,2018-08-19,Habitación en Dublín Double room,NaN,I'm renting a double room in my house in the s...,I'm renting a double room in my house in the s...,none,NaN,...,f,NaN,NaN,f,f,flexible,f,f,1,NaN
8,85156,https://www.airbnb.com/rooms/85156,20180819190710,2018-08-19,Cosy Comfortable Irish Cottage 1 Double Bed,Our Cottage is a charming light filled cottage...,"Hi , My name is Teresa and we have 3 rooms av...",Our Cottage is a charming light filled cottage...,none,"I love Dundrum and its surrounding areas , The...",...,f,NaN,NaN,t,f,moderate,t,t,3,1.32
9,97259,https://www.airbnb.com/rooms/97259,20180819190710,2018-08-19,One of a Kind Funky Fresh Loft Style Apartment,If you're looking for a One of a Kind Funky Fr...,"Hey there and greetings from Dublin, This nic...",If you're looking for a One of a Kind Funky Fr...,none,Kilmainham is a perfect base in the sense that...,...,f,NaN,NaN,t,f,strict_14_with_grace_period,f,f,1,1.26
10,121030,https://www.airbnb.com/rooms/121030,20180819190710,2018-08-19,Comfy double room in central area 1,Welcoming victorian house. Breakfast included....,"Double room 1 upstairs,wooden floors, desk, in...",Welcoming victorian house. Breakfast included....,social,"My neighbourhood is very safe, friendly and o...",...,f,NaN,NaN,f,f,strict_14_with_grace_period,f,f,3,1.25
11,159889,https://www.airbnb.com/rooms/159889,20180819190710,2018-08-19,Friendly Single Room,washing can be done at a cost of five euro per...,Nice comfortable house 20 minutes from the Cit...,washing can be done at a cost of five euro per...,none,plenty of buses into the city and the area is ...,...,f,NaN,NaN,t,f,strict_14_with_grace_period,f,t,3,2.93
12,162809,https://www.airbnb.com/rooms/162809,20180819190710,2018-08-19,5.5 miles south of Dublin City :^),A nice place to relax after the bustle of the ...,"Sea, mountains, city: all amenities relatively...",A nice place to relax after the bustle of the ...,none,"Close to the sea, hill walks and the city - vi...",...,f,NaN,NaN,f,f,moderate,f,f,2,4.62
13,163398,https://www.airbnb.com/rooms/163398,20180819190710,2018-08-19,Home from Home Apartment near city,NaN,One bed apartment in a quiet and well maintain...,One bed apartment in a quiet and well maintain...,social,The area is best known for Royal Hospital Kilm...,...,f,NaN,NaN,t,f,moderate,f,f,1,0.82
14,165828,https://www.airbnb.com/rooms/165828,20180819190710,2018-08-19,Pádraig Pearse apt. Kilmainham,"Don't just visit Dublin, experience Dublin in ...",The Space: Beautifully appointed first floor...,"Don't just visit Dublin, experience Dublin in ...",none,"Enjoy a walk along the grand canal, or just ob...",...,f,NaN,NaN,f,f,strict_14_with_grace_period,f,f,5,0.34
15,165829,https://www.airbnb.com/rooms/165829,20180819190710,2018-08-19,"The ""Michael Collins"" apartment","Don't just visit Dublin, experience Dublin in ...","Beautifully appointed, spacious and elegant ap...","Don't just visit Dublin, experience Dublin in ...",none,"15 minute walk from 'The Dublin', Dublin Disco...",...,f,NaN,NaN,f,f,strict_14_with_grace_period,f,f,5,0.46
16,178860,https://www.airbnb.com/rooms/178860,20180819190710,2018-08-19,Georgian House in Heart of City Ctr,Brilliant 1800s home away from home serves as ...,This Georgian period room features in this gre...,Brilliant 1800s home away from home serves as ...,family,Our Portobello neighbourhood is an eternally u...,...,f,NaN,NaN,f,f,strict_14_with_grace_period,f,f,2,3.60
17,181823,https://www.airbnb.com/rooms/181823,20180819190710,2018-08-19,comfy double room near beach/town2,"continental breakfast,tea and coffee included...","Front room, with small double futon bed(110cm...","continental breakfast,tea and coffee included...",none,"My neighbourhood is very safe, friendly and o...",...,f,NaN,NaN,f,f,strict_14_with_grace_period,f,f,3,0.54
18,200979,https://www.airbnb.com/rooms/200979,20180819190710,2018-08-19,"""The Lodge, Dalkey Avenue .""","""The Lodge, Dalkey Avenue."" Is the perfect lo...","""The Lodge"" is a spacious ground floor accommo...","""The Lodge, Dalkey Avenue."" Is the perfect lo...",social,"""The Lodge"" is in the perfect location, down ...",...,f,NaN,NaN,t,f,strict_14_with_grace_period,t,t,1,0.80
19,227966,https://www.airbnb.com/rooms/227966,20180819190710,2018-08-19,Smart Georgian building city centre,NaN,This is an ideal location for exploring Dublin...,This is an ideal location for exploring Dublin...,none,This is a very safe tree lined street and is s...,...,f,NaN,NaN,f,f,moderate,f,f,5,2.06
20,237465,https://www.airbnb.com/rooms/237465,20180819190710,2018-08-19,Annexe Near airport and City Center (Min 2 peo...,Self contained one bed apartment 10 minutes fr...,Nice small apartment attached to main home on...,Self contained one bed apartment 10 minutes fr...,business,We live in a quiet safe neighbourhood and we a...,...,f,NaN,NaN,t,f,strict_14_with_grace_period,f,f,2,2.19
21,245893,https://www.airbnb.com/rooms/245893,20180819190710,2018-08-19,Double warm cosy bedroom in Lucan,Double room suitable for 2 adults. Baby/Child...,"Double bedroom to let, Ideal for shopping wee...",Double room suitable for 2 adults. Baby/Child...,none,NaN,...,f,NaN,NaN,f,f,strict_14_with_grace_period,t,f,2,0.20
22,245903,https://www.airbnb.com/rooms/245903,20180819190710,2018-08-19,Single cosy bedroom in Lucan.,NaN,Single bedroom with shared bathroom. No meals ...,Single bedroom with shared bathroom. No meals ...,none,Quiet residential area with good shopping amen...,...,f,NaN,NaN,f,f,strict_14_with_grace_period,t,f,2,0.29
23,246560,https://www.airbnb.com/rooms/246560,20180819190710,2018-08-19,Portobello Retreat,A bright and airy double bedroom with two larg...,The bedroom is a bright and airy double room w...,A bright and airy double bedroom with two larg...,none,"Portobello is a lovely, quiet area filled with...",...,f,NaN,NaN,f,f,moderate,t,t,3,0.91
24,254941,https://www.airbnb.com/rooms/254941,20180819190710,2018-08-19,Cosy Double Room in South Dublin Home from Home,My home is in a very quiet and safe suburban n...,"I have one very bright, comfortable, large dou...",My home is in a very quiet and safe suburban n...,social,My neighbourhood is very safe and quiet and ve...,...,f,NaN,NaN,f,f,moderate,f,f,2,1.80
25,261248,https://www.airbnb.com/rooms/261248,20180819190710,2018-08-19,Ensuite Rooms,NaN,Saint Ann's is a competitively priced Bed and ...,Saint Ann's is a competitively priced Bed and ...,none,NaN,...,f,NaN,NaN,f,f,flexible,f,f,3,1.53
26,266856,https://www.airbnb.com/rooms/266856,20180819190710,2018-08-19,Award Winning Bed & Breakfast...Rm1,NaN,Saint Ann's is a competitively priced Bed and ...,Saint Ann's is a competitively priced Bed and ...,none,NaN,...,f,NaN,NaN,f,f,flexible,f,f,3,1.11
27,266935,https://www.airbnb.com/rooms/266935,20180819190710,2018-08-19,An award winning B&B near Dublin...,NaN,Saint Ann's is a competitively priced Bed and ...,Saint Ann's is a competitively priced Bed and ...,none,NaN,...,f,NaN,NaN,f,f,flexible,f,f,3,0.54
28,268984,https://www.airbnb.com/rooms/268984,20180819190710,2018-08-19,Luxury 2Bed Apt Unbeatable Location,NaN,The apartment is in a great location and very ...,The apartment is in a great location and very ...,none,NaN,...,f,NaN,NaN,f,f,strict_14_with_grace_period,f,f,1,1.21
29,272650,https://www.airbnb.com/rooms/272650,20180819190710,2018-08-19,Twin Room with Private Bathroom,Special opportunity to rent a room with privat...,2KM FROM DUBLIN CITY!! Suburban buses from AIR...,Special opportunity to rent a room with privat...,none,Our neighbourhood is everything! It's suburban...,...,f,NaN,NaN,f,f,moderate,t,t,1,0.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9990,27834222,https://www.airbnb.com/rooms/27834222,20180819190710,2018-08-19,Large One Bedroom Apartment Dublin 12,Large one bedroom apartment. 2 minute walk fro...,"This apartment is in a superb location, just ...",Large one bedroom apartment. 2 minute walk fro...,none,"The apartment is situated in a quiet, mature ...",...,f,NaN,NaN,t,f,flexible,f,f,1,NaN
9991,27834375,https://www.airbnb.com/rooms/27834375,20180819190710,2018-08-19,Newly refurbished 2 double bedroom in Ranelagh,This stunning newly renovated 2 double bedroom...,"Accessible by a short tram or bus ride, Ranela...",This stunning newly renovated 2 double bedroom...,none,NaN,...,f,NaN,NaN,t,f,flexible,f,f,1,NaN
9992,27840728,https://www.airbnb.com/rooms/27840728,20180819190710,2018-08-19,Modern apartment with view close to city center,I am sharing my guest bedroom in my amazing fl...,I am offering you a stay in my guest room. I l...,I am sharing my guest bedroom in my amazing fl...,none,The neighborhood (Sandyford) is a new and mode...,...,f,NaN,NaN,f,f,moderate,f,f,2,NaN
9993,27840979,https://www.airbnb.com/rooms/27840979,20180819190710,2018-08-19,Nice Room near train station,".Close to Dublin Airport, Dublin city centre, ...",NaN,".Close to Dublin Airport, Dublin city centre, ...",none,NaN,...,f,NaN,NaN,t,f,moderate,f,f,1,NaN
9994,27842035,https://www.airbnb.com/rooms/27842035,20180819190710,2018-08-19,Dublin Single family home,NaN,NaN,NaN,none,NaN,...,f,NaN,NaN,t,f,flexible,f,f,2,NaN
9995,27842164,https://www.airbnb.com/rooms/27842164,20180819190710,2018-08-19,Sky apartment Room A 1,NaN,NaN,NaN,none,NaN,...,f,NaN,NaN,t,f,flexible,f,f,4,NaN
9996,27843188,https://www.airbnb.com/rooms/27843188,20180819190710,2018-08-19,Dublin Single family home,NaN,NaN,NaN,none,NaN,...,f,NaN,NaN,t,f,flexible,f,f,2,NaN
9997,27845062,https://www.airbnb.com/rooms/27845062,20180819190710,2018-08-19,Single room in Shankill with breakfast and wifi,Single private room in a large spacious home i...,NaN,Single private room in a large spacious home i...,none,NaN,...,f,NaN,NaN,t,f,flexible,f,f,5,NaN
9998,27846077,https://www.airbnb.com/rooms/27846077,20180819190710,2018-08-19,Spacious Double Bedroom/Dublin/Heart of Ranelagh,Beautiful renovated condo in the Heart of Rane...,Enjoy the peacefulness of this home and it’s s...,Beautiful renovated condo in the Heart of Rane...,none,"The Ranelagh village, a favorite by all Dublin...",...,f,NaN,NaN,f,f,strict_14_with_grace_period,f,f,2,NaN
9999,27846740,https://www.airbnb.com/rooms/27846740,20180819190710,2018-08-19,Dublin 7 Apartment in the heart of the city!,Central location right beside Dublin Luas (tra...,NaN,Central location right beside Dublin Luas (tra...,none,NaN,...,f,NaN,NaN,t,f,flexible,f,f,1,NaN
10000,27846985,https://www.airbnb.com/rooms/27846985,20180819190710,2018-08-19,Central Dublin's Quiet Hidden Gem,Just 15mins walk from City Centre this beautif...,A nice balcony overlooking leafy surroundings ...,Just 15mins walk from City Centre this beautif...,none,Located between the City Centre and Ballbridge...,...,f,NaN,NaN,f,f,flexible,f,f,1,NaN
10001,27847998,https://www.airbnb.com/rooms/27847998,20180819190710,2018-08-19,Double Room - 15 min walk to the city centre,The house is located in a quite leafy suburb o...,"This is a large four bedroom house, which come...",The house is located in a quite leafy suburb o...,none,NaN,...,f,NaN,NaN,t,f,flexible,f,f,1,NaN
10002,27848134,https://www.airbnb.com/rooms/27848134,20180819190710,2018-08-19,Dublin 8 House,"Contemporary, sophisticated, arty",NaN,"Contemporary, sophisticated, arty",none,NaN,...,f,NaN,NaN,t,f,flexible,f,f,1,NaN
10003,27849776,https://www.airbnb.com/rooms/27849776,20180819190710,2018-08-19,Apartment Brabazon House,"Cozy 1 bedroom apartment in Cork Street, very ...","1 bedroom apartment, living room with open kit...","Cozy 1 bedroom apartment in Cork Street, very ...",none,NaN,...,f,NaN,NaN,f,f,moderate,f,f,1,1.00
10004,27850058,https://www.airbnb.com/rooms/27850058,20180819190710,2018-08-19,Peaceful room in heart of Dublin city,Large bedroom with big double bed in the heart...,NaN,Large bedroom with big double bed in the heart...,none,NaN,...,f,NaN,NaN,t,f,flexible,f,f,1,NaN
10005,27850536,https://www.airbnb.com/rooms/27850536,20180819190710,2018-08-19,Share in little cosy home,"a lovely little bed, within a home set up. Tra...",NaN,"a lovely little bed, within a home set up. Tra...",none,NaN,...,f,NaN,NaN,f,f,flexible,f,f,4,NaN
10006,27850676,https://www.airbnb.com/rooms/27850676,20180819190710,2018-08-19,Cosy 1 Double Bedroom In the Heart of the City,"I live by myself in a 2 story house, two doubl...",The space is pretty private with one double be...,"I live by myself in a 2 story house, two doubl...",none,The neighborhood is in the heart of the city; ...,...,f,NaN,NaN,f,f,strict_14_with_grace_period,f,f,1,NaN
10007,27853317,https://www.airbnb.com/rooms/27853317,20180819190710,2018-08-19,Comfortable double room,"Quiet home, located next the heart of Dublin ...",Two single beds in the bedroom sleeps 2 people...,"Quiet home, located next the heart of Dublin ...",none,NaN,...,f,NaN,NaN,t,f,flexible,f,f,2,NaN
10008,27860886,https://www.airbnb.com/rooms/27860886,20180819190710,2018-08-19,Beautifully renovated spacious apartment,Newly refurbished very spacious beautiful 2 be...,NaN,Newly refurbished very spacious beautiful 2 be...,none,NaN,...,f,NaN,NaN,t,f,flexible,f,f,1,NaN
10009,27860933,https://www.airbnb.com/rooms/27860933,20180819190710,2018-08-19,Dublin House beside Phoenix Park,New house in quiet estate situated right next ...,NaN,New house in quiet estate situated right next ...,none,NaN,...,f,NaN,NaN,t,f,flexible,f,f,1,NaN
10010,27862841,https://www.airbnb.com/rooms/27862841,20180819190710,2018-08-19,Apartment 2 mins from Phoenix park pope visit,Pope visit,NaN,Pope visit,none,NaN,...,f,NaN,NaN,t,f,flexible,f,f,1,NaN
10011,27862999,https://www.airbnb.com/rooms/27862999,20180819190710,2018-08-19,Sky apartment Room A 2,NaN,NaN,NaN,none,NaN,...,f,NaN,NaN,t,f,flexible,f,f,4,NaN
10012,27863600,https://www.airbnb.com/rooms/27863600,20180819190710,2018-08-19,Home on the beach,Quaint and unique beachside cottage within eas...,2 bedroom cottage residence overlooking Loughs...,Quaint and unique beachside cottage within eas...,none,Loughshinny is a traditional Irish fishing vil...,...,f,NaN,NaN,t,f,flexible,f,f,1,NaN
10013,27864559,https://www.airbnb.com/rooms/27864559,20180819190710,2018-08-19,City center Double Private room,"Hello there ! Our space is a student vibe, onl...",A spacious double room that comprises 1 double...,"Hello there ! Our space is a student vibe, onl...",none,NaN,...,f,NaN,NaN,t,f,flexible,f,f,4,NaN
10014,27865902,https://www.airbnb.com/rooms/27865902,20180819190710,2018-08-19,Lovely studio close to Phoenix Park,Perfect for papal visit.,NaN,Perfect for papal visit.,none,NaN,...,f,NaN,NaN,f,f,flexible,f,f,1,NaN
10015,27866610,https://www.airbnb.com/rooms/27866610,20180819190710,2018-08-19,"Dublin 11 Flat, tranquil setting","Large bright self contained apartment, in hist...",NaN,"Large bright self contained apartment, in hist...",none,NaN,...,f,NaN,NaN,t,f,strict_14_with_grace_period,f,f,1,NaN
10016,27867937,https://www.airbnb.com/rooms/27867937,20180819190710,2018-08-19,Cozy Cottage 10 Min from Dublin Airport,Cozy cottage about 10 minutes from Dublin airp...,"Guests will have access to the kitchen, bathro...",Cozy cottage about 10 minutes from Dublin airp...,none,NaN,...,f,NaN,NaN,t,f,flexible,f,f,1,NaN
10017,27869080,https://www.airbnb.com/rooms/27869080,20180819190710,2018-08-19,Private,"Hi guys, I want to give my apartment rent for...",NaN,"Hi guys, I want to give my apartment rent for...",none,NaN,...,f,NaN,NaN,t,f,flexible,f,f,2,NaN
10018,27869836,https://www.airbnb.com/rooms/27869836,20180819190710,2018-08-19,Dublin North Anne street,"Hi guys, I want to give my apartment rent for...",NaN,"Hi guys, I want to give my apartment rent for...",none,NaN,...,f,NaN,NaN,t,f,flexible,f,f,2,NaN
10019,27871082,https://www.airbnb.com/rooms/27871082,20180819190710,2018-08-19,"Cosy, friendly ensuite double bedroom, Sandyford",Comfortable ensuite double bedroom. Access to ...,NaN,Comfortable ensuite double bedroom. Access to ...,none,Bracken Hill is an extremely well maintained c...,...,f,NaN,NaN,t,f,flexible,f,f,1,NaN

===============================================

How many entries and columns are in the data?

===============================================

In [2]:
airBnBListings.shape

(10020, 96)

===============================================

What are the titles of each column?

===============================================

In [3]:
# iterating the columns 
for col in airBnBListings.columns: 
    print(col)

id
listing_url
scrape_id
last_scraped
name
summary
space
description
experiences_offered
neighborhood_overview
notes
transit
access
interaction
house_rules
thumbnail_url
medium_url
picture_url
xl_picture_url
host_id
host_url
host_name
host_since
host_location
host_about
host_response_time
host_response_rate
host_acceptance_rate
host_is_superhost
host_thumbnail_url
host_picture_url
host_neighbourhood
host_listings_count
host_total_listings_count
host_verifications
host_has_profile_pic
host_identity_verified
street
neighbourhood
neighbourhood_cleansed
neighbourhood_group_cleansed
city
state
zipcode
market
smart_location
country_code
country
latitude
longitude
is_location_exact
property_type
room_type
accommodates
bathrooms
bedrooms
beds
bed_type
amenities
square_feet
price
weekly_price
monthly_price
security_deposit
cleaning_fee
guests_included
extra_people
minimum_nights
maximum_nights
calendar_updated
has_availability
availability_30
availability_60
availability_90
availability_365
calendar_last_scraped
number_of_reviews
first_review
last_review
review_scores_rating
review_scores_accuracy
review_scores_cleanliness
review_scores_checkin
review_scores_communication
review_scores_location
review_scores_value
requires_license
license
jurisdiction_names
instant_bookable
is_business_travel_ready
cancellation_policy
require_guest_profile_picture
require_guest_phone_verification
calculated_host_listings_count
reviews_per_month


=====================================================================

How many unique locations are there?

There are mutliple columns that could relate to location<br> 
Create a subset of these columns and investigate which one may be most useful<br> 

Two issues that we are worried about:<br> 
1) Reduce the amount of <i>NaN</i> entries as much as possible<br>
2) Have the naming convention for the location as consistent as possible

======================================================================

In [4]:
location_subset = airBnBListings.loc[:,["street","neighbourhood","neighbourhood_cleansed","neighbourhood_group_cleansed","city","state","zipcode"]]
location_subset

,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode
0,"Dublin, Dublin City, Ireland",Portobello,Dublin City,NaN,Dublin,Dublin City,Dublin 8
1,"Dublin, Dublin, Ireland",Docklands,Dublin City,NaN,Dublin,Dublin,D2
2,"Churchtown, Ireland",Churchtown,Dn Laoghaire-Rathdown,NaN,Churchtown,NaN,Dublin 14
3,"Ballyboden, South Dublin, Ireland",NaN,South Dublin,NaN,Ballyboden,South Dublin,Dublin 16
4,"Dublin, County Dublin, Ireland",Temple Bar,Dublin City,NaN,Dublin,County Dublin,Dublin 2
5,"Dublin, Leinster, Ireland",Temple Bar,Dublin City,NaN,Dublin,Leinster,Dublin 2
6,"Stillorgan, Leinster, Ireland",Donnybrook,Dn Laoghaire-Rathdown,NaN,Stillorgan,Leinster,Dublin 14
7,"Templeogue, Dublin, Ireland",NaN,South Dublin,NaN,Templeogue,Dublin,NaN
8,"Churchtown, Ireland",Churchtown,Dn Laoghaire-Rathdown,NaN,Churchtown,NaN,Dublin 14
9,"Dublin, Dublin, Ireland",Kilmainham,Dublin City,NaN,Dublin,Dublin,8
10,"Dublin, Ireland",Sandymount,Dublin City,NaN,Dublin,NaN,Dublin 4
11,"Dublin, Ireland",Beaumont,Dublin City,NaN,Dublin,NaN,Dublin 9
12,"Dublin, Dublin, Ireland",Blackrock,Dn Laoghaire-Rathdown,NaN,Dublin,Dublin,NaN
13,"Dublin, Dublin, Ireland",Kilmainham,Dublin City,NaN,Dublin,Dublin,NaN
14,"Dublin, Ireland",Kilmainham,Dublin City,NaN,Dublin,NaN,Dublin 8
15,"Dublin, Ireland",Kilmainham,Dublin City,NaN,Dublin,NaN,Dublin 8
16,"Dublin, Ireland",Portobello,Dublin City,NaN,Dublin,NaN,Dublin 8
17,"Dublin, Ireland",Sandymount,Dublin City,NaN,Dublin,NaN,Dublin 4
18,"Dalkey, Dublin, Ireland",NaN,Dn Laoghaire-Rathdown,NaN,Dalkey,Dublin,NaN
19,"Dublin, Ireland",Grafton Street/St. Stephens Green,Dublin City,NaN,Dublin,NaN,Dublin 2
20,"Dublin, Ireland",Raheny,Dublin City,NaN,Dublin,NaN,Dublin 13
21,"Lucan, County Dublin, Ireland",NaN,South Dublin,NaN,Lucan,County Dublin,NaN
22,"Lucan, County Dublin, Ireland",NaN,South Dublin,NaN,Lucan,County Dublin,NaN
23,"Dublin, Dublin, Ireland",Portobello,Dublin City,NaN,Dublin,Dublin,NaN
24,"Blackrock, Dublin, Ireland",Blackrock,Dn Laoghaire-Rathdown,NaN,Blackrock,Dublin,NaN
25,"Dun Laoghaire, Ireland",NaN,Dn Laoghaire-Rathdown,NaN,Dun Laoghaire,NaN,NaN
26,"Dun Laoghaire, Ireland",NaN,Dn Laoghaire-Rathdown,NaN,Dun Laoghaire,NaN,NaN
27,"Dun Laoghaire, Ireland",NaN,Dn Laoghaire-Rathdown,NaN,Dun Laoghaire,NaN,NaN
28,"Dublin, Ireland",North City Central/O'Connell Street,Dublin City,NaN,Dublin,NaN,Dublin 1
29,"Dublin, Ireland",Drumcondra,Dublin City,NaN,Dublin,NaN,Dublin 9
...,...,...,...,...,...,...,...
9990,"Dublin 12, County Dublin, Ireland",NaN,Dublin City,NaN,Dublin 12,County Dublin,NaN
9991,"Dublin 6, County Dublin, Ireland",Ranelagh and Rathmines,Dublin City,NaN,Dublin 6,County Dublin,NaN
9992,"Dublin, County Dublin, Ireland",Dundrum,Dn Laoghaire-Rathdown,NaN,Dublin,County Dublin,NaN
9993,"Dublin 13, County Dublin, Ireland",Raheny,Dublin City,NaN,Dublin 13,County Dublin,D13 AC91
9994,"Darndale, County Dublin, Ireland",Bonnybrook/Darndale,Dublin City,NaN,Darndale,County Dublin,D17 YN70
9995,"Dublin 1, County Dublin, Ireland",Phibsborough,Dublin City,NaN,Dublin 1,County Dublin,D01 V9P3
9996,"Darndale, County Dublin, Ireland",Bonnybrook/Darndale,Dublin City,NaN,Darndale,County Dublin,D17 YN70
9997,"Shankill, County Dublin, Ireland",NaN,Dn Laoghaire-Rathdown,NaN,Shankill,County Dublin,D18 PK18
9998,"Dublin, County Dublin, Ireland",Ranelagh and Rathmines,Dublin City,NaN,Dublin,County Dublin,NaN
9999,"Dublin 7, County Dublin, Ireland",Smithfield,Dublin City,NaN,Dublin 7,County Dublin,NaN
10000,"Dublin 4, County Dublin, Ireland",Ballsbridge,Dublin City,NaN,Dublin 4,County Dublin,D04 Y9W8
10001,"Harold's Cross, County Dublin, Ireland",Ranelagh and Rathmines,Dublin City,NaN,Harold's Cross,County Dublin,D6W VP76
10002,"Dublin 8, County Dublin, Ireland",The Liberties,Dublin City,NaN,Dublin 8,County Dublin,D08 A5V6
10003,"Dublin 8, County Dublin, Ireland",The Liberties,Dublin City,NaN,Dublin 8,County Dublin,D08 A0V3
10004,"Dublin 1, County Dublin, Ireland",North City Central/O'Connell Street,Dublin City,NaN,Dublin 1,County Dublin,D01 PY97
10005,"Dublin 14, County Dublin, Ireland",Dundrum,Dn Laoghaire-Rathdown,NaN,Dublin 14,County Dublin,NaN
10006,"Dublin 1, County Dublin, Ireland",Phibsborough,Dublin City,NaN,Dublin 1,County Dublin,D01 E9K0
10007,"Dublin 8, County Dublin, Ireland",The Liberties,Dublin City,NaN,Dublin 8,County Dublin,D08 F7Y0
10008,"Terenure, County Dublin, Ireland",Rathgar,Dublin City,NaN,Terenure,County Dublin,D06 PX62
10009,"Dublin, County Dublin, Ireland",Castleknock,Fingal,NaN,Dublin,County Dublin,NaN
10010,"Dublin, County Dublin, Ireland",Castleknock,Fingal,NaN,Dublin,County Dublin,NaN
10011,"Dublin 1, County Dublin, Ireland",Phibsborough,Dublin City,NaN,Dublin 1,County Dublin,D01 V9P3
10012,"County Dublin, County Dublin, Ireland",NaN,Fingal,NaN,NaN,County Dublin,NaN
10013,"Dublin, County Dublin, Ireland",Smithfield,Dublin City,NaN,Dublin,County Dublin,NaN
10014,"Dublin, County Dublin, Ireland",Stoneybatter/Arbour Hill,Dublin City,NaN,Dublin,County Dublin,NaN
10015,"Dublin 11, County Dublin, Ireland",Dublin Industrial Estate,Dublin City,NaN,Dublin 11,County Dublin,NaN
10016,"County Dublin, County Dublin, Ireland",Finglas,Fingal,NaN,NaN,County Dublin,D11 W7T3
10017,"Dublin 7, County Dublin, Ireland",Smithfield,Dublin City,NaN,Dublin 7,County Dublin,NaN
10018,"Dublin 7, County Dublin, Ireland",Smithfield,Dublin City,NaN,Dublin 7,County Dublin,D07
10019,"Dublin, County Dublin, Ireland",Dundrum,Dn Laoghaire-Rathdown,NaN,Dublin,County Dublin,NaN

In [5]:
location_subset["neighbourhood"].unique()

array(['Portobello', 'Docklands', 'Churchtown', nan, 'Temple Bar',
       'Donnybrook', 'Kilmainham', 'Sandymount', 'Beaumont', 'Blackrock',
       'Grafton Street/St. Stephens Green', 'Raheny',
       "North City Central/O'Connell Street", 'Drumcondra', 'Santry',
       'Artane', 'Castleknock', 'Stoneybatter/Arbour Hill',
       'Ringsend/Irishtown', 'The Liberties', 'North Strand', 'Cabra',
       'Dublin Industrial Estate', 'Old City', 'Glasnevin', 'Smithfield',
       'Phibsborough', 'Terenure', 'Kimmage',
       'Phoenix Park and Surrounds', 'Dundrum', 'Bonnybrook/Darndale',
       'Clontarf', 'Islandbridge', 'Dartry', 'Pelletstown', 'Monkstown',
       'Georgian Quarter', 'Trinity College', 'Ballsbridge', 'East Wall',
       'Rathfarnham', 'Ballyfermot', 'Rathgar', 'Rialto', 'Crumlin',
       'Ardilea', 'Ballybough', 'Ranelagh and Rathmines', 'Marino',
       "Harold's Cross", 'Booterstown', 'Inchicore', 'Ballymun',
       'Fairview', 'Knocklyon', 'Mount Merrion', 'Riverston Abbey',
       'Kilmore', 'Donnycarney', 'Clondalkin', 'Finglas', 'Ballinteer',
       'Addison Park', 'Courtlands', 'Grace Park', 'City Centre',
       'Templeogue', 'Edenmore'], dtype=object)

In [6]:
location_subset["neighbourhood_cleansed"].unique()

array(['Dublin City', 'Dn Laoghaire-Rathdown', 'South Dublin', 'Fingal'],
      dtype=object)

In [7]:
location_subset["neighbourhood"].value_counts()

Docklands                              655
North City Central/O'Connell Street    648
The Liberties                          516
Phibsborough                           424
Old City                               377
Ranelagh and Rathmines                 373
Ballsbridge                            303
Smithfield                             292
Stoneybatter/Arbour Hill               274
Drumcondra                             247
Trinity College                        236
Portobello                             234
Grafton Street/St. Stephens Green      201
Temple Bar                             196
Kilmainham                             192
Rathgar                                186
Dundrum                                160
Georgian Quarter                       156
Santry                                 145
Blackrock                              140
Monkstown                              122
Donnybrook                             122
Castleknock                            122
Ringsend/Irishtown                     114
East Wall                              113
Clontarf                               108
Sandymount                             103
Rialto                                 100
Raheny                                  97
Cabra                                   96
                                      ...
Booterstown                             59
Rathfarnham                             53
Clondalkin                              51
Kimmage                                 50
Fairview                                49
Ballyfermot                             48
Knocklyon                               43
Mount Merrion                           42
Ballymun                                42
Ballybough                              38
Glasnevin                               38
Finglas                                 37
Inchicore                               35
Ardilea                                 33
Pelletstown                             31
Churchtown                              31
Addison Park                            26
Dartry                                  21
Marino                                  21
City Centre                             17
Islandbridge                            16
Ballinteer                              16
Riverston Abbey                         14
Donnycarney                             12
Templeogue                               9
Courtlands                               9
Dublin Industrial Estate                 8
Grace Park                               2
Edenmore                                 2
Kilmore                                  2
Name: neighbourhood, Length: 68, dtype: int64

In [8]:
location_subset["neighbourhood_group_cleansed"].unique()

array([nan])

In [9]:
location_subset["neighbourhood_cleansed"].isnull().value_counts().any()

True

In [10]:
location_subset["neighbourhood_cleansed"].isnull().values.any()

False

In [11]:
location_subset["neighbourhood_group_cleansed"].notnull().values.any()

False

=================== ANSWER ===============================================

Two issues that we are worried about:<br> 
1) Reduce the amount of <i>NaN</i> entries as much as possible<br>
2) Have the naming convention for the location as consistent as possible

Both Satisfied in the column <i>neighbourhood_group_cleansed</i>

=================== ANSWER ===============================================

===============================================================================

What <i>neighbourgoods</i> are in each <i>"neighbourhood_cleansed"</i> category and how many listings does each have?

===============================================================================

In [12]:
location_subset.groupby("neighbourhood_cleansed").neighbourhood.value_counts()

neighbourhood_cleansed  neighbourhood
Dn Laoghaire-Rathdown   Dundrum                                160
                        Blackrock                              140
                        Monkstown                              122
                        Mount Merrion                           42
                        Booterstown                             40
                        Ardilea                                 32
                        Churchtown                              31
                        Donnybrook                              20
                        Ballinteer                              16
                        Rathfarnham                             11
Dublin City             Docklands                              655
                        North City Central/O'Connell Street    648
                        The Liberties                          516
                        Phibsborough                           424
                        Old City                               377
                        Ranelagh and Rathmines                 373
                        Ballsbridge                            303
                        Smithfield                             292
                        Stoneybatter/Arbour Hill               274
                        Drumcondra                             247
                        Trinity College                        236
                        Portobello                             234
                        Grafton Street/St. Stephens Green      201
                        Temple Bar                             196
                        Kilmainham                             192
                        Rathgar                                186
                        Georgian Quarter                       156
                        Ringsend/Irishtown                     114
                        East Wall                              113
                        Clontarf                               108
                                                              ...
                        Addison Park                            26
                        Finglas                                 26
                        Dartry                                  21
                        Marino                                  21
                        Booterstown                             19
                        City Centre                             17
                        Islandbridge                            16
                        Riverston Abbey                         14
                        Donnycarney                             12
                        Courtlands                               9
                        Dublin Industrial Estate                 8
                        Edenmore                                 2
                        Grace Park                               2
                        Kilmore                                  2
                        Ardilea                                  1
Fingal                  Castleknock                            122
                        Santry                                  45
                        Raheny                                  27
                        Bonnybrook/Darndale                     12
                        Finglas                                 11
                        Ballymun                                 8
                        Pelletstown                              1
South Dublin            Clondalkin                              51
                        Knocklyon                               43
                        Rathfarnham                             42
                        Terenure                                20
                        Ballyfermot                             13
                        Kimmage                                 10
                        Templeogue                               9
                        Crumlin                                  1
Name: neighbourhood, Length: 82, dtype: int64

===============================================================================

How many times has a property in each neighborhood been reviewed?

===============================================================================

In [13]:
airBnBListings.groupby(["neighbourhood_cleansed","neighbourhood"]).number_of_reviews.sum()

neighbourhood_cleansed  neighbourhood
Dn Laoghaire-Rathdown   Ardilea                       334
                        Ballinteer                    125
                        Blackrock                    2033
                        Booterstown                   245
                        Churchtown                    834
                        Donnybrook                    346
                        Dundrum                      1926
                        Monkstown                    2109
                        Mount Merrion                 570
                        Rathfarnham                    79
Dublin City             Addison Park                  312
                        Ardilea                        31
                        Artane                       3534
                        Ballsbridge                  7188
                        Ballybough                   1427
                        Ballyfermot                  1169
                        Ballymun                      829
                        Beaumont                     2040
                        Bonnybrook/Darndale          2725
                        Booterstown                   175
                        Cabra                        2567
                        City Centre                   330
                        Clontarf                     3197
                        Courtlands                    106
                        Crumlin                      2932
                        Dartry                        433
                        Docklands                   15032
                        Donnybrook                   1675
                        Donnycarney                   323
                        Drumcondra                   5191
                                                    ...
                        Portobello                  11521
                        Raheny                       2271
                        Ranelagh and Rathmines      10559
                        Rathgar                      4126
                        Rialto                       3992
                        Ringsend/Irishtown           2536
                        Riverston Abbey               344
                        Sandymount                   1969
                        Santry                       1281
                        Smithfield                  10781
                        Stoneybatter/Arbour Hill     9484
                        Temple Bar                  14584
                        Terenure                     1846
                        The Liberties               20291
                        Trinity College              7730
Fingal                  Ballymun                       52
                        Bonnybrook/Darndale           880
                        Castleknock                  2329
                        Finglas                       206
                        Pelletstown                     0
                        Raheny                       1183
                        Santry                       2329
South Dublin            Ballyfermot                   192
                        Clondalkin                    870
                        Crumlin                         0
                        Kimmage                       218
                        Knocklyon                     827
                        Rathfarnham                  1418
                        Templeogue                    364
                        Terenure                      482
Name: number_of_reviews, Length: 82, dtype: int64

===============================================================================


Create a subset of the data frame comprised of all the <i>"Review"</i> columns

i.e all columns that have "review" in the title

===============================================================================

In [14]:
review_subset=airBnBListings.loc[:,["number_of_reviews","first_review","last_review","review_scores_rating","review_scores_accuracy","review_scores_cleanliness","review_scores_checkin","review_scores_communication","review_scores_location","review_scores_value"]]
review_subset

,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,36,2011-07-11,2018-08-08,95.0,9.0,9.0,10.0,10.0,10.0,9.0
1,91,2010-08-30,2018-08-13,97.0,10.0,10.0,10.0,10.0,10.0,10.0
2,163,2011-03-20,2018-08-05,94.0,10.0,9.0,10.0,10.0,9.0,10.0
3,2,2015-03-04,2015-10-25,100.0,10.0,10.0,10.0,10.0,9.0,10.0
4,98,2011-04-04,2018-08-13,99.0,10.0,10.0,10.0,10.0,10.0,10.0
5,84,2011-08-30,2016-06-06,79.0,8.0,7.0,8.0,9.0,9.0,8.0
6,1,2012-09-04,2012-09-04,77.0,6.0,4.0,10.0,10.0,10.0,6.0
7,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,116,2011-05-24,2018-08-12,95.0,10.0,9.0,10.0,10.0,9.0,10.0
9,37,2016-03-22,2018-08-13,96.0,10.0,9.0,10.0,10.0,9.0,10.0
10,109,2011-06-18,2018-08-12,94.0,9.0,9.0,10.0,10.0,9.0,9.0
11,229,2012-03-20,2018-08-17,95.0,9.0,9.0,10.0,10.0,9.0,9.0
12,181,2015-06-01,2018-08-11,96.0,10.0,10.0,10.0,10.0,10.0,10.0
13,70,2011-08-24,2018-07-05,97.0,10.0,10.0,10.0,10.0,9.0,10.0
14,28,2011-10-25,2018-07-29,90.0,10.0,9.0,9.0,9.0,8.0,9.0
15,37,2012-01-22,2018-05-15,94.0,10.0,10.0,9.0,9.0,9.0,9.0
16,261,2012-09-05,2018-08-14,97.0,10.0,10.0,10.0,10.0,10.0,10.0
17,46,2011-08-18,2016-03-19,92.0,9.0,9.0,10.0,10.0,9.0,9.0
18,61,2012-05-09,2018-07-22,93.0,9.0,9.0,10.0,10.0,10.0,9.0
19,173,2011-10-02,2018-08-15,78.0,8.0,8.0,9.0,9.0,9.0,8.0
20,178,2011-12-22,2018-08-14,89.0,9.0,9.0,9.0,9.0,8.0,9.0
21,16,2012-03-20,2016-08-29,94.0,10.0,10.0,10.0,10.0,9.0,10.0
22,21,2012-09-03,2018-08-11,99.0,10.0,10.0,10.0,10.0,9.0,10.0
23,65,2012-09-27,2018-08-08,93.0,9.0,8.0,10.0,10.0,10.0,9.0
24,147,2011-11-29,2018-07-08,95.0,10.0,9.0,10.0,10.0,9.0,10.0
25,126,2011-11-20,2018-08-16,88.0,9.0,9.0,9.0,9.0,9.0,9.0
26,73,2013-03-18,2018-07-23,87.0,9.0,9.0,9.0,9.0,9.0,9.0
27,33,2013-08-15,2018-08-10,84.0,9.0,9.0,9.0,9.0,10.0,9.0
28,97,2012-01-22,2018-03-28,95.0,10.0,9.0,10.0,10.0,10.0,9.0
29,4,2016-06-19,2017-08-06,95.0,10.0,7.0,10.0,10.0,8.0,10.0
...,...,...,...,...,...,...,...,...,...,...
9990,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9991,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9992,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9993,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9994,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9995,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10001,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10002,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10003,1,2018-08-19,2018-08-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10004,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10005,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10006,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10007,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10008,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10009,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10010,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10011,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10012,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10013,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10014,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10015,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10016,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10017,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10018,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10019,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

=================================================

Create three new data frames comprising of just the <i>Review</i> Columns
<br><br>The first frame should only include listings with a review
<br>The second should only include listings with a 10 reviews or more
<br>The third frame should only include listings 250 reviews or more

<br><br>Once created look at the average, max, and min ratings for the subsets of listings 

=================================================

In [15]:
reviews1_or_more = review_subset.loc[review_subset["number_of_reviews"]>=1]
reviews10_or_more = review_subset.loc[review_subset["number_of_reviews"]>=10]
reviews250_or_more = review_subset.loc[review_subset["number_of_reviews"]>=250]

In [16]:
reviews1_or_more.describe()

,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
count,8449.000000,8290.000000,8279.000000,8283.000000,8270.000000,8281.000000,8274.000000,8271.000000
mean,35.867322,93.428106,9.630269,9.383919,9.734704,9.778408,9.399081,9.273607
std,52.002195,7.627452,0.718988,0.939432,0.650770,0.596930,0.770720,0.852894
min,1.000000,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
25%,4.000000,91.000000,9.000000,9.000000,10.000000,10.000000,9.000000,9.000000
50%,14.000000,95.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000
75%,45.000000,99.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
max,493.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [17]:
reviews10_or_more.describe()

,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
count,4956.000000,4956.000000,4956.000000,4956.000000,4956.000000,4956.000000,4956.000000,4956.000000
mean,58.496973,93.814972,9.690678,9.477805,9.790355,9.824859,9.441283,9.322236
std,58.027898,4.936679,0.507623,0.668833,0.433506,0.396243,0.575994,0.589924
min,10.000000,60.000000,7.000000,5.000000,7.000000,7.000000,6.000000,7.000000
25%,19.000000,91.000000,9.000000,9.000000,10.000000,10.000000,9.000000,9.000000
50%,37.000000,95.000000,10.000000,10.000000,10.000000,10.000000,9.000000,9.000000
75%,77.000000,98.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
max,493.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [18]:
reviews250_or_more.describe()

,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
count,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000
mean,304.898734,93.632911,9.734177,9.468354,9.797468,9.860759,9.544304,9.354430
std,59.306158,4.397485,0.444593,0.657022,0.404454,0.348409,0.526173,0.555577
min,250.000000,81.000000,9.000000,7.000000,9.000000,9.000000,8.000000,8.000000
25%,263.000000,92.000000,9.000000,9.000000,10.000000,10.000000,9.000000,9.000000
50%,278.000000,95.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000
75%,322.000000,97.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
max,493.000000,99.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

=================================================

<br><br>The first frame should include listings with a review
<br>The second should include listings with a 10 reviews or more
<br>The first frame should include listings 250 reviews or more

Do you notice anything unusual about the minimum score for the above groups.



Lets focus on the cleanliness scores<br>
Select all listings with a cleanliness rating of less than 4

=================================================

In [19]:
airBnBListings.loc[review_subset["review_scores_cleanliness"]<4]

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
565,3912830,https://www.airbnb.com/rooms/3912830,20180819190710,2018-08-19,House for rent,Located in a quiet Road in Trimleston Boote...,NaN,Located in a quiet Road in Trimleston Boote...,none,"Enjoying a quiet, peaceful location there are ...",...,f,NaN,NaN,f,f,moderate,f,f,1,0.02
1179,6739022,https://www.airbnb.com/rooms/6739022,20180819190710,2018-08-19,Ensuite double bedroom in Dublin 1,Spacious en suite bedroom in luxury apartment ...,Specious double bedroom with en suite bathroom...,Spacious en suite bedroom in luxury apartment ...,none,"Quiet, mainly expats. Not many restaurants or ...",...,f,NaN,NaN,f,f,moderate,f,f,1,0.03
2269,11353114,https://www.airbnb.com/rooms/11353114,20180819190710,2018-08-19,Big double room near city centre,Hello everyone! Looking to rent out a double r...,NaN,Hello everyone! Looking to rent out a double r...,none,NaN,...,f,NaN,NaN,f,f,flexible,f,f,1,0.03
3472,14455317,https://www.airbnb.com/rooms/14455317,20180819190710,2018-08-19,Sunfilled apartment in Ashtown by Phoenix Park,I think you´ll like this spacious 85m2 two bed...,WEEKLY DISCOUNT! The apartment is spacious and...,I think you´ll like this spacious 85m2 two bed...,none,This is a nice and safe residential area with ...,...,f,NaN,NaN,f,f,moderate,f,f,1,0.04
4628,17669421,https://www.airbnb.com/rooms/17669421,20180819190710,2018-08-19,One bed Apartment in Rathgar,My place is a one double bedroom apartment (yo...,"Cosy apartment has coffee machine, microwave, ...",My place is a one double bedroom apartment (yo...,none,This Southside area is one of the city's most ...,...,f,NaN,NaN,t,f,moderate,f,f,1,0.20
5583,19632643,https://www.airbnb.com/rooms/19632643,20180819190710,2018-08-19,19 Apartment AVAILABLE,We love meeting new people of all backgrounds ...,NaN,We love meeting new people of all backgrounds ...,none,NaN,...,f,NaN,NaN,t,f,moderate,f,f,1,0.20
6432,21290247,https://www.airbnb.com/rooms/21290247,20180819190710,2018-08-19,Room with a view,"Own room with private ensuite, kitchen space a...",NaN,"Own room with private ensuite, kitchen space a...",none,NaN,...,f,NaN,NaN,f,f,strict_14_with_grace_period,f,f,1,0.39
6470,21376291,https://www.airbnb.com/rooms/21376291,20180819190710,2018-08-19,"Whopper Triple Room, great location for city",This spacious triple bedroom is the perfect re...,"When you book this on airbnb, you have full ac...",This spacious triple bedroom is the perfect re...,none,"Brian’s home is located in Beaumont Woods, Cou...",...,f,NaN,NaN,f,f,flexible,f,f,28,0.11
6606,21592200,https://www.airbnb.com/rooms/21592200,20180819190710,2018-08-19,Quiet Flat close to city centre,"The accommodation includes a living room, kitc...",NaN,"The accommodation includes a living room, kitc...",none,NaN,...,f,NaN,NaN,t,f,flexible,f,f,1,0.21
6853,22117976,https://www.airbnb.com/rooms/22117976,20180819190710,2018-08-19,Newly refurbished modern townhouse in City Center,Newly refurbished apartment in a Georgian town...,NaN,Newly refurbished apartment in a Georgian town...,none,NaN,...,f,NaN,NaN,t,f,flexible,f,f,1,0.13
7180,22885985,https://www.airbnb.com/rooms/22885985,20180819190710,2018-08-19,Nice double room in Blackrock,"Hi, I have a spacious double bedroom which wil...",NaN,"Hi, I have a spacious double bedroom which wil...",none,NaN,...,f,NaN,NaN,t,f,flexible,f,f,1,0.19
8269,24820693,https://www.airbnb.com/rooms/24820693,20180819190710,2018-08-19,"Apt 102 - 2 Bedrooms, 2 Bath Apartment - Sleeps 3",Buckley Hall is a block of 33 apartments and a...,The building was completed in 2007 to a very h...,Buckley Hall is a block of 33 apartments and a...,none,Buckley Hall enjoys an extremely convenient lo...,...,f,NaN,NaN,t,f,strict_14_with_grace_period,f,f,30,1.18
8676,25538601,https://www.airbnb.com/rooms/25538601,20180819190710,2018-08-19,Double Bed in Beautiful Neighbourhood of Ranelagh,Double bedroom in beautiful suburb of Ranelagh...,The house is shared with my two lovely housema...,Double bedroom in beautiful suburb of Ranelagh...,none,Very central location in the beautiful neighbo...,...,f,NaN,NaN,f,f,flexible,f,f,1,1.20
8720,25684027,https://www.airbnb.com/rooms/25684027,20180819190710,2018-08-19,"Double Bedroom, City Center",Double bedroom available at Marion Square Park...,NaN,Double bedroom available at Marion Square Park...,none,NaN,...,f,NaN,NaN,t,f,flexible,f,f,1,0.53
8934,26073828,https://www.airbnb.com/rooms/26073828,20180819190710,2018-08-19,Conway Sute,NaN,NaN,NaN,none,NaN,...,f,NaN,NaN,t,f,flexible,f,f,1,2.00
9720,27455270,https://www.airbnb.com/rooms/27455270,20180819190710,2018-08-19,Cozy/Small Double Room CC,Hello there! Stay in this cosy/small double ro...,"This bedroom is small, but includes all you ne...",Hello there! Stay in this cosy/small double ro...,none,NaN,...,f,NaN,NaN,t,f,strict_14_with_grace_period,f,f,1,1.00

In [20]:
review_subset.loc[review_subset["review_scores_cleanliness"]<4]

,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
565,1,2014-11-09,2014-11-09,20.0,2.0,2.0,10.0,10.0,6.0,2.0
1179,1,2015-09-20,2015-09-20,60.0,10.0,2.0,10.0,8.0,10.0,10.0
2269,1,2016-03-03,2016-03-03,60.0,6.0,2.0,4.0,10.0,8.0,6.0
3472,1,2016-09-04,2016-09-04,40.0,4.0,2.0,2.0,2.0,6.0,2.0
4628,2,2017-10-18,2018-07-19,20.0,4.0,2.0,8.0,6.0,6.0,2.0
5583,2,2017-10-31,2017-12-12,40.0,8.0,2.0,10.0,8.0,6.0,4.0
6432,4,2017-10-16,2017-10-19,20.0,2.0,2.0,2.0,2.0,2.0,2.0
6470,1,2017-11-09,2017-11-09,40.0,6.0,2.0,8.0,8.0,8.0,4.0
6606,2,2017-11-10,2018-05-26,40.0,6.0,2.0,10.0,10.0,10.0,4.0
6853,1,2018-01-01,2018-01-01,40.0,6.0,2.0,10.0,8.0,8.0,6.0
7180,1,2018-03-17,2018-03-17,20.0,2.0,2.0,2.0,2.0,10.0,2.0
8269,2,2018-06-30,2018-08-18,60.0,7.0,3.0,8.0,8.0,6.0,6.0
8676,2,2018-07-01,2018-07-08,70.0,8.0,3.0,9.0,9.0,10.0,7.0
8720,1,2018-06-24,2018-06-24,20.0,2.0,2.0,6.0,6.0,8.0,2.0
8934,2,2018-07-25,2018-07-26,20.0,2.0,2.0,2.0,2.0,2.0,2.0
9720,1,2018-08-12,2018-08-12,60.0,8.0,2.0,10.0,10.0,8.0,6.0


================================================================================

Create a list of all neighbourhoods in Dublin that have cleanliness score under 4 and how many reviews are in this catgory 

================================================================================

In [21]:
low_cleanliness_by_nhood = airBnBListings.loc[review_subset["review_scores_cleanliness"]<5].neighbourhood.value_counts()

In [22]:
low_cleanliness_by_nhood

Phibsborough                           3
North City Central/O'Connell Street    3
Georgian Quarter                       2
Grafton Street/St. Stephens Green      2
North Strand                           1
Docklands                              1
Dartry                                 1
Smithfield                             1
Booterstown                            1
Pelletstown                            1
Kilmainham                             1
Harold's Cross                         1
Ballsbridge                            1
Beaumont                               1
Temple Bar                             1
Donnybrook                             1
Ranelagh and Rathmines                 1
Monkstown                              1
East Wall                              1
Rathgar                                1
Name: neighbourhood, dtype: int64

================================================================================
It is probably a better idea to find out what percentage of properties in each neighbourhood have poor cleanliness

Find out what percentage of the neighbourhoods listings have a cleanliness score under 4

================================================================================

In [23]:
total_reviews = airBnBListings.loc[airBnBListings.neighbourhood.isin(low_cleanliness_by_nhood.index)].groupby("neighbourhood").number_of_reviews.sum()

In [24]:
dirty_ratio = low_cleanliness_by_nhood/total_reviews
dirty_ratio.sort_values(ascending=False, inplace=True)
dirty_ratio

Booterstown                            0.002381
Pelletstown                            0.002375
Dartry                                 0.002309
Harold's Cross                         0.000818
East Wall                              0.000662
North Strand                           0.000496
Donnybrook                             0.000495
Beaumont                               0.000490
Monkstown                              0.000474
Georgian Quarter                       0.000369
Rathgar                                0.000242
Phibsborough                           0.000237
Grafton Street/St. Stephens Green      0.000224
Kilmainham                             0.000174
Ballsbridge                            0.000139
North City Central/O'Connell Street    0.000100
Ranelagh and Rathmines                 0.000095
Smithfield                             0.000093
Temple Bar                             0.000069
Docklands                              0.000067
dtype: float64

=================================================

import airBnB_Calendar data set from Data folder

How many entries and columns are in the data?<br>
What are the column names?<br>
What are the data types?<br>
Can we work with the price column in that format?


=================================================

In [25]:
airBnBCal = pd.read_csv("Data/airBnB_Calendar.csv")
print(airBnBCal.dtypes)
airBnBCal.price.unique()
airBnBCal.price.dtype

listing_id     int64
date          object
available     object
price         object
dtype: object

dtype('O')

=================================================

We will use the price column to see how expensive the unclean airBnB listings are

Write a function to convert the price column into a 
series of floats<br>

Use the <i>apply</i> function and your function to reformat the price column


=================================================

In [26]:
def convertDollarStringToInt(dollar_string):
    dollar_str = str(dollar_string).strip('$').replace(',', '')
    return float(dollar_str)

In [27]:
airBnBCalNums = airBnBCal.price.apply(convertDollarStringToInt)
airBnBCal.price = airBnBCalNums
airBnBCal.set_index("listing_id")

                  date available  price
listing_id
14842       2019-08-18         t  119.0
14842       2019-08-17         t  119.0
14842       2019-08-16         t  119.0
14842       2019-08-15         t  119.0
14842       2019-08-14         t  119.0
14842       2019-08-13         t  119.0
14842       2019-08-12         t  119.0
14842       2019-08-11         t  119.0
14842       2019-08-10         t  119.0
14842       2019-08-09         t  119.0
14842       2019-08-08         t  119.0
14842       2019-08-07         t  119.0
14842       2019-08-06         t  119.0
14842       2019-08-05         t  119.0
14842       2019-08-04         t  119.0
14842       2019-08-03         t  119.0
14842       2019-08-02         t  119.0
14842       2019-08-01         t  119.0
14842       2019-07-31         t  119.0
14842       2019-07-30         t  119.0
14842       2019-07-29         t  119.0
14842       2019-07-28         t  119.0
14842       2019-07-27         t  119.0
14842       2019-07-26         t  119.0
14842       2019-07-25         t  119.0
14842       2019-07-24         t  119.0
14842       2019-07-23         t  119.0
14842       2019-07-22         t  119.0
14842       2019-07-21         t  119.0
14842       2019-07-20         t  119.0
...                ...       ...    ...
27871082    2018-09-17         f    NaN
27871082    2018-09-16         f    NaN
27871082    2018-09-15         f    NaN
27871082    2018-09-14         f    NaN
27871082    2018-09-13         t   50.0
27871082    2018-09-12         t   50.0
27871082    2018-09-11         t   50.0
27871082    2018-09-10         t   50.0
27871082    2018-09-09         t   50.0
27871082    2018-09-08         t   50.0
27871082    2018-09-07         t   50.0
27871082    2018-09-06         t   50.0
27871082    2018-09-05         t   50.0
27871082    2018-09-04         t   50.0
27871082    2018-09-03         t   50.0
27871082    2018-09-02         f    NaN
27871082    2018-09-01         f    NaN
27871082    2018-08-31         t   50.0
27871082    2018-08-30         t   50.0
27871082    2018-08-29         t   50.0
27871082    2018-08-28         t   50.0
27871082    2018-08-27         t   50.0
27871082    2018-08-26         f    NaN
27871082    2018-08-25         f    NaN
27871082    2018-08-24         f    NaN
27871082    2018-08-23         f    NaN
27871082    2018-08-22         f    NaN
27871082    2018-08-21         f    NaN
27871082    2018-08-20         f    NaN
27871082    2018-08-19         f    NaN

[3657300 rows x 3 columns]

===============================================

We want to look at the price of listings.
Some prices are NaNs - deal with themaccordingly!

===============================================

In [28]:
airBnBCalNotNull = airBnBCal.loc[airBnBCal.price.notnull()]

===============================================

There are prices for each listing over multiple days.

Get a figure for each listing of the average shown for every day.<br>
Get an average of all the listings averages

===============================================

In [29]:
avg_listing_price = airBnBCalNotNull.groupby("listing_id").price.mean().round(0)
avg_listing_price.mean()

125.79185330347144

===============================================

We will now compare the average of all listings to the average for listings with "poor cleanliness"<br>

1) Sort out columns in one or both data sets (airBnBListings and airBnBCalender) so we can match ratings with prices
<br>(hint: listing_id)

2) Retrieve a list of all listing id with a cleanliness rating of less than 4

===============================================

In [30]:
print(avg_listing_price.head(5))
airBnBListings.rename(columns={"id":"listing_id"}, inplace = True)
airBnBListings.set_index("listing_id", inplace = True)
low_cleanliness_entries = airBnBListings.loc[airBnBListings["review_scores_cleanliness"]<4]
low_cleanliness_entries.head(5)
# low_cleanliness_entries.rename(columns={"id":"listing_id"}, inplace = True)
# low_cleanliness_entries.set_index("id")

listing_id
14842    120.0
43908     90.0
44077     48.0
46517     35.0
68483    102.0
Name: price, dtype: float64

,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
listing_id,,,,,,,,,,,,,,,,,,,,,
3912830,https://www.airbnb.com/rooms/3912830,20180819190710,2018-08-19,House for rent,Located in a quiet Road in Trimleston Boote...,NaN,Located in a quiet Road in Trimleston Boote...,none,"Enjoying a quiet, peaceful location there are ...",NaN,...,f,NaN,NaN,f,f,moderate,f,f,1,0.02
6739022,https://www.airbnb.com/rooms/6739022,20180819190710,2018-08-19,Ensuite double bedroom in Dublin 1,Spacious en suite bedroom in luxury apartment ...,Specious double bedroom with en suite bathroom...,Spacious en suite bedroom in luxury apartment ...,none,"Quiet, mainly expats. Not many restaurants or ...",Tenants work during the day so will only be ab...,...,f,NaN,NaN,f,f,moderate,f,f,1,0.03
11353114,https://www.airbnb.com/rooms/11353114,20180819190710,2018-08-19,Big double room near city centre,Hello everyone! Looking to rent out a double r...,NaN,Hello everyone! Looking to rent out a double r...,none,NaN,NaN,...,f,NaN,NaN,f,f,flexible,f,f,1,0.03
14455317,https://www.airbnb.com/rooms/14455317,20180819190710,2018-08-19,Sunfilled apartment in Ashtown by Phoenix Park,I think you´ll like this spacious 85m2 two bed...,WEEKLY DISCOUNT! The apartment is spacious and...,I think you´ll like this spacious 85m2 two bed...,none,This is a nice and safe residential area with ...,"This is a fresh, modern and bright apartment t...",...,f,NaN,NaN,f,f,moderate,f,f,1,0.04
17669421,https://www.airbnb.com/rooms/17669421,20180819190710,2018-08-19,One bed Apartment in Rathgar,My place is a one double bedroom apartment (yo...,"Cosy apartment has coffee machine, microwave, ...",My place is a one double bedroom apartment (yo...,none,This Southside area is one of the city's most ...,The apartment has all information for tourists...,...,f,NaN,NaN,t,f,moderate,f,f,1,0.20

=======================================================================

Construct a list of (average) prices for all listings whose cleranlimess rating is less than 4 

=======================================================================

In [31]:
low_cleanliness_entries["AVG Price"]=avg_listing_price
low_cleanliness_entries.head(3)

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,...,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,AVG Price
listing_id,,,,,,,,,,,,,,,,,,,,,
3912830,https://www.airbnb.com/rooms/3912830,20180819190710,2018-08-19,House for rent,Located in a quiet Road in Trimleston Boote...,NaN,Located in a quiet Road in Trimleston Boote...,none,"Enjoying a quiet, peaceful location there are ...",NaN,...,NaN,NaN,f,f,moderate,f,f,1,0.02,161.0
6739022,https://www.airbnb.com/rooms/6739022,20180819190710,2018-08-19,Ensuite double bedroom in Dublin 1,Spacious en suite bedroom in luxury apartment ...,Specious double bedroom with en suite bathroom...,Spacious en suite bedroom in luxury apartment ...,none,"Quiet, mainly expats. Not many restaurants or ...",Tenants work during the day so will only be ab...,...,NaN,NaN,f,f,moderate,f,f,1,0.03,NaN
11353114,https://www.airbnb.com/rooms/11353114,20180819190710,2018-08-19,Big double room near city centre,Hello everyone! Looking to rent out a double r...,NaN,Hello everyone! Looking to rent out a double r...,none,NaN,NaN,...,NaN,NaN,f,f,flexible,f,f,1,0.03,NaN

In [32]:
# low_cleanliness_entries.head()
cleanliness_vs_price = low_cleanliness_entries.loc[:,["review_scores_cleanliness","AVG Price"]]
cleanliness_vs_price

            review_scores_cleanliness  AVG Price
listing_id
3912830                           2.0      161.0
6739022                           2.0        NaN
11353114                          2.0        NaN
14455317                          2.0      160.0
17669421                          2.0        NaN
19632643                          2.0        NaN
21290247                          2.0       45.0
21376291                          2.0       88.0
21592200                          2.0        NaN
22117976                          2.0        NaN
22885985                          2.0        NaN
24820693                          3.0      114.0
25538601                          3.0        NaN
25684027                          2.0        NaN
26073828                          2.0       90.0
27455270                          2.0       75.0

========================  =============================
Are properties with a poor cleanliness rating cheaper on average than all properties in Dublin?
========================  =============================

In [33]:
cleanliness_vs_price.dropna()["AVG Price"].mean()

104.71428571428571

======================== Answer =============================<br>
Population - 125.79185330347144 <br>
poor cleanliness - 104.71428571428571<br>
Cheaper but not by much!<br>

======================== Answer =============================

================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================
================================================================================

import airB&B_Reviews data set from Data folder

How many entries and columns are in the data?
What are the column names?

========================================

In [34]:
airBnBReviews = pd.read_csv("Data/airBnB_Reviews.csv")
airBnBReviews.head(5)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,14842,366404,2011-07-11,381202,Gianni,Hilary and her husband were very welcoming and...
1,14842,436714,2011-08-11,393419,Andrea,Great place. Great location. Hilary was extrem...
2,14842,825239,2012-01-02,205507,Rebecca,Unfortunately Hilary's house cannot be recomme...
3,14842,1903801,2012-08-06,1809135,Shane,I had an absolutely amazing time at Hillary's ...
4,14842,2072172,2012-08-23,720139,Rowan,We stayed here for two weeks and very much enj...

In [35]:
# iterating the columns 
for col in airBnBReviews.columns: 
    print(col)

listing_id
id
date
reviewer_id
reviewer_name
comments

================================================================================



================================================================================

In [36]:
low_cleanliness_entries = airBnBListings.loc[airBnBListings["review_scores_cleanliness"]<4]
id_and_cleanliness= low_cleanliness_entries.loc[:,["id","review_scores_cleanliness"]]
id_and_cleanliness.rename(columns={"id":"listing_id"}, inplace = True)
id_and_cleanliness.set_index("listing_id")

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

            review_scores_cleanliness
listing_id
NaN                               2.0
NaN                               2.0
NaN                               2.0
NaN                               2.0
NaN                               2.0
NaN                               2.0
NaN                               2.0
NaN                               2.0
NaN                               2.0
NaN                               2.0
NaN                               2.0
NaN                               3.0
NaN                               3.0
NaN                               2.0
NaN                               2.0
NaN                               2.0

In [37]:
listings_and_review = low_cleanliness_entries.join(airBnBReviews)